.frame {
    position: absolute;            /* Establece la posición absoluta para que las propiedades top y left se apliquen desde el borde del elemento más cercano con posición relativa o absoluta. */
    top: 50%;                      /* Coloca el elemento en el centro vertical de su contenedor padre. */
    left: 50%;                     /* Coloca el elemento en el centro horizontal de su contenedor padre. */
    width: 400px;                  /* Define el ancho del elemento. En este caso, 400px. */
    height: 400px;                 /* Define la altura del elemento. En este caso, 400px. */
    margin-top: -200px;            /* Alinea el elemento verticalmente en el centro restando la mitad de su altura al valor de top. */
    margin-left: -200px;           /* Alinea el elemento horizontalmente en el centro restando la mitad de su ancho al valor de left. */
    border-radius: 2px;            /* Agrega un borde redondeado al elemento con un radio de 2px. */
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3); /* Agrega una sombra al elemento con desplazamiento horizontal de 1px, desplazamiento vertical de 2px, difuminación de 10px y un color de sombra con transparencia. */
    background: #43389F;           /* Establece el fondo del elemento con un color sólido (#43389F). */
    background: -webkit-linear-gradient(bottom left, #43389F 0%, #4ec6ca 100%);  /* Agrega un fondo gradiente en navegadores webkit. */
    background: -moz-linear-gradient(bottom left, #43389F 0%, #4ec6ca 100%);     /* Agrega un fondo gradiente en navegadores basados en Gecko (Firefox). */
    background: -o-linear-gradient(bottom left, #43389F 0%, #4ec6ca 100%);       /* Agrega un fondo gradiente en navegadores Opera. */
    background: linear-gradient(to top right, #43389F 0%, #4ec6ca 100%);          /* Agrega un fondo gradiente en navegadores compatibles con la especificación estándar. */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43389F', endColorstr='#4ec6ca',GradientType=1 ); /* Proporciona un fondo degradado para Internet Explorer. */
    font-family: 'Courier New', 'Courier', sans-serif;  /* Establece la fuente de texto del elemento. */
    color: #fff;                  /* Establece el color de texto del elemento en blanco (#fff). */
    -webkit-font-smoothing: antialiased;   /* Aplica suavizado de fuentes en navegadores webkit. */
    -moz-osx-font-smoothing: grayscale;    /* Aplica suavizado de fuentes en sistemas operativos basados en Gecko (Mac OS). */
  }

  .center {
    position: absolute;           /* Establece la posición absoluta para que las propiedades top y left se apliquen desde el borde del elemento más cercano con posición relativa o absoluta. */
    top: 50.8%;                   /* Coloca el elemento en el centro vertical de su contenedor padre con un pequeño desplazamiento hacia abajo. */
    left: 50.5%;                  /* Coloca el elemento en el centro horizontal de su contenedor padre con un pequeño desplazamiento hacia la derecha. */
    transform: translate(-50%, -50%);  /* Utiliza la propiedad "transform" para ajustar el elemento en el centro vertical y horizontal al restar la mitad de su ancho y alto. */
  }
  .number {
    position: relative; /* Establece la posición relativa para que los elementos internos usen coordenadas relativas a este elemento. */
    height: 100px;      /* Define la altura del elemento. */
    width: 200px;       /* Define el ancho del elemento. */
  }
    /* Estilos para el elemento .one-one */
    .one-one {
      position: absolute; /* Establece la posición absoluta para que este elemento se posicione de manera independiente. */
      z-index: 1;         /* Define la posición en el eje Z para determinar el orden de apilamiento. */
      top: 0;             /* Coloca el elemento en la parte superior del contenedor padre. */
      left: -16px;        /* Desplazamiento hacia la izquierda desde el borde del contenedor padre. */
      height: 40px;       /* Define la altura del elemento .one-one. */
      width: 20px;        /* Define el ancho del elemento .one-one. */
      background: #fff;   /* Establece el color de fondo del elemento .one-one. */
      border-radius: 3px; /* Agrega bordes redondeados al elemento .one-one. */
      transform: rotate(50deg); /* Aplica una rotación de 50 grados al elemento .one-one. */
      box-shadow: 0 0 13px 0 rgba(0,0,0,0.2); /* Agrega una sombra al elemento .one-one. */
    }
  
    /* Estilos para el elemento .one-two */
    .one-two {
      position: absolute; /* Establece la posición absoluta para que este elemento se posicione de manera independiente. */
      z-index: 10;        /* Define la posición en el eje Z para determinar el orden de apilamiento. */
      top: 0;             /* Coloca el elemento en la parte superior del contenedor padre. */
      left: 0px;          /* Coloca el elemento .one-two en la posición horizontal 0px. */
      height: 100px;      /* Define la altura del elemento .one-two. */
      width: 24px;        /* Define el ancho del elemento .one-two. */
      background: #fff;   /* Establece el color de fondo del elemento .one-two. */
      border-radius: 3px; /* Agrega bordes redondeados al elemento .one-two. */
      box-shadow: 0 0 13px 0 rgba(0,0,0,0.2); /* Agrega una sombra al elemento .one-two. */
    }
  
    /* Estilos para los elementos .zero-one y .zero-two */
    .zero-one, 
    .zero-two {
      position: absolute; /* Establece la posición absoluta para que estos elementos se posicionen de manera independiente. */
      z-index: 8;         /* Define la posición en el eje Z para determinar el orden de apilamiento. */
      top: 0;             /* Coloca los elementos en la parte superior del contenedor padre. */
      left: 17px;         /* Coloca los elementos .zero-one y .zero-two con un desplazamiento desde la izquierda. */
      box-sizing: border-box; /* Hace que el borde se incluya en el tamaño total del elemento. */
      height: 100px;      /* Define la altura de los elementos .zero-one y .zero-two. */
      width: 100px;       /* Define el ancho de los elementos .zero-one y .zero-two. */
      border-radius: 50%; /* Agrega bordes redondeados a los elementos .zero-one y .zero-two. */
      border: 24px solid #fff; /* Establece un borde sólido en blanco a los elementos .zero-one y .zero-two. */
      box-shadow: 0 0 13px 0 rgba(0,0,0,0.2); /* Agrega una sombra a los elementos .zero-one y .zero-two. */
    }
  
    /* Estilos adicionales para el elemento .zero-two */
    .zero-two {
      z-index: 6;         /* Define la posición en el eje Z para determinar el orden de apilamiento. */
      left: 100px;        /* Coloca el elemento .zero-two a la derecha con un desplazamiento de 100px. */
    }
  
  
  /* Estilos para el elemento .big */
  .big {
    position: relative;  /* Establece la posición relativa para que los elementos internos usen coordenadas relativas a este elemento. */
    z-index: 20;         /* Define la posición en el eje Z para determinar el orden de apilamiento. */
    display: block;      /* Establece el elemento como un bloque. */
    font-size: 82px;     /* Define el tamaño de fuente. */
    line-height: 60px;   /* Define la altura de línea. */
    text-transform: uppercase; /* Convierte el texto a mayúsculas. */
    font-weight: 700;    /* Define el peso de la fuente como "bold" (negrita). */
    margin-top: 6px;     /* Establece un margen superior de 6px. */
  }
  
  .small {
    position: relative;       /* Establece la posición relativa para que los elementos internos usen coordenadas relativas a este elemento. */
    z-index: 20;              /* Define la posición en el eje Z para determinar el orden de apilamiento. */
    display: block;           /* Establece el elemento como un bloque. */
    font-size: 23px;          /* Define el tamaño de fuente. */
    line-height: 20px;        /* Define la altura de línea. */
    text-transform: uppercase; /* Convierte el texto a mayúsculas. */
    font-weight: 700;         /* Define el peso de la fuente como "bold" (negrita). */
    letter-spacing: .04em;    /* Define el espaciado entre caracteres (letras) como 0.04em (un pequeño espacio adicional). */
  }
  